<div class="single-widget protfolio-widget">
    <img src="img/blog/user2.jpg" alt="">
    <a href="#"><h4>Bùi Xuân Huấn</h4></a>
    <p>
        Xã hội này chỉ có làm, chịu khó, cần cù thì bù siêng năng. Chỉ có làm thì mới có ăn.
    </p>
    <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
    </ul>
</div>
