
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css">
    <link rel='stylesheet' id='roboto-subset.css-css' href='https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5' type='text/css' media='all' />
</head>
<body style="background-color: blue">
    <section class="pb-4" style="margin-top: 200px;">
        <div class="bg-white border rounded-5">

            <section class="w-100 p-4 d-flex justify-content-center pb-4">
                <form action="~/Admin/Login/Index" method="post">
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input type="text" tabindex="1" id="form2Example1" class="form-control" name="UserName" placeholder="Type your username" required />
                        <label class="form-label" for="form2Example1">Tên đăng nhập</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" tabindex="2" id="form2Example2" class="form-control" name="Password" placeholder="Type your password" required />
                        <label class="form-label" for="form2Example2">Mật khẩu</label>
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                <label class="form-check-label" for="form2Example31"> Nhớ mật khẩu </label>
                            </div>
                        </div>

                        <div class="col">
                            <!-- Simple link -->
                            <a href="#!">Quên mật khẩu</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" value="Login" tabindex="4" class="btn btn-primary btn-block mb-4">Đăng nhập</button>
                </form>
            </section>
        </div>
    </section>
</body>
</html>
