@model IEnumerable<FindingJobWeb.Models.JobsbyCategory>

<div class="single-slidebar">
    <h4>Công việc theo ngành</h4>
    <ul class="cat-list">
        @foreach (var j in Model)
        {
            <li><a class="justify-content-between d-flex" href="@Url.Action("JobbyCategory","Job", new { id = j.IndustryID , CategoryName = j.Name})"><p>@j.Name</p><span>@j.NoOfJobs</span></a></li>
        }
    </ul>
</div>
